/* _content/ProjectCS/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4uz1yo48n9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4uz1yo48n9] {
  color: #0077cc;
}

.btn-primary[b-4uz1yo48n9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4uz1yo48n9], .nav-pills .show > .nav-link[b-4uz1yo48n9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4uz1yo48n9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4uz1yo48n9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4uz1yo48n9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4uz1yo48n9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4uz1yo48n9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProjectCS/Areas/Identity/Pages/Account/_LayoutRegister.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-mlegpk92t9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-mlegpk92t9] {
  color: #0077cc;
}

.btn-primary[b-mlegpk92t9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-mlegpk92t9], .nav-pills .show > .nav-link[b-mlegpk92t9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-mlegpk92t9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-mlegpk92t9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-mlegpk92t9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-mlegpk92t9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-mlegpk92t9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProjectCS/Areas/Student/Views/Shared/_LayoutStudent.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zo04vscvy0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zo04vscvy0] {
  color: #0077cc;
}

.btn-primary[b-zo04vscvy0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zo04vscvy0], .nav-pills .show > .nav-link[b-zo04vscvy0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zo04vscvy0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zo04vscvy0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zo04vscvy0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zo04vscvy0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zo04vscvy0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProjectCS/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jncotwd7qi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jncotwd7qi] {
  color: #0077cc;
}

.btn-primary[b-jncotwd7qi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jncotwd7qi], .nav-pills .show > .nav-link[b-jncotwd7qi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jncotwd7qi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jncotwd7qi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jncotwd7qi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jncotwd7qi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jncotwd7qi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ProjectCS/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-g35f1fz9kb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-g35f1fz9kb] {
  color: #0077cc;
}

.btn-primary[b-g35f1fz9kb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-g35f1fz9kb], .nav-pills .show > .nav-link[b-g35f1fz9kb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-g35f1fz9kb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-g35f1fz9kb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-g35f1fz9kb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-g35f1fz9kb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-g35f1fz9kb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
